* {
  box-sizing: border-box;
}

body {
  font-size: 25px;
  font-family: Arial;
  line-height: 1.5;
}

@media (max-width: 700px) {
  body {
    background-color: red;
  }
}

@import 'block/title.css';
@import 'block/news.css';
